[Desktop Entry]
Name=Duet
Comment=Synchronize two folders explicitly and locally
Exec=duet
Icon=io.github.rtomasa.Duet
Terminal=false
Type=Application
Categories=Utility;FileTools;GTK;GNOME;
Keywords=sync;folder;USB;backup;two-way;
StartupNotify=true
